@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Inter", sans-serif;
}

.backdrop {
  background-color: #F5F5F5;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
